extends ../partials/layout

block content 
    h1= title

    div#content

block sub 
    div#sub

block script 
    script.
        var render = async function()
        {
            var data = new window.app.Data();
            
            await data.select( { url: "!{ path }/select", sort: "!{ sort }" } );

            data.render( { display: "table", sub: "!{ sub }", tab: "!{ tab }" } );
        }

        window.addEventListener( "load", render );