extends ../partials/layout

block content 
    h1= title

    div#content

block sub 
    div#sub

block script 
    script.
        window.addEventListener( "load", () =>
        {
            var template = new window.app.Templates();
                template.init( { content: { display: "table" }, columns: {}, data: { display: "tbody" }, sub: { display: "!{ sub }" }, tabs: { display: "tabs", config: { field: "!{ tab }" } } }, { path: "!{ path }", sort: "!{ sort }" } );
        } );