extends ../partials/layout

block content 
    h1= title

    div#content

block sub 
    div#sub

block script 
    script.
        window.addEventListener( "load", () =>
        {
            var template = new window.app.Templates();
                template.init( { content: "table", sub: "!{ sub }", tab: "!{ tab }", path: "!{ path }", sort: "!{ sort }" } ); 
        } );