extends ../partials/layout

block content 
    h1= title

    div#content( data-ui = true )

block sub 
    div.content#sub( data-ui = true )

block script 
    script.
        window.addEventListener( "load", () =>
        {
            var content = new window.app.Content();
                content.setContent( { content: "!{ content }", sub: "!{ sub }", tab: "!{ tab }", path: "!{ path }", sort: "!{ sort }", fields: "!{ fields }" } ); 
        } );